{% extends "base.html" %}

{% block content %}
<h1>今日は何にしようかな！</h1>

<!--<button onclick="startGame()">はじめる</button>-->

<div id="select-grade">
    <h2>学年を選んでね</h2>
    <button onclick="location.href=`/`">はじめにもどる</button>
    <br>
    <button onclick="selectGrade(1)">1年生</button>
    <button onclick="selectGrade(2)">2年生</button>
    <button onclick="selectGrade(3)">3年生</button>
    <button onclick="selectGrade(4)">4年生</button>
    <button onclick="selectGrade(5)">5年生</button>
    <button onclick="selectGrade(6)">6年生</button>

</div>

<div id="select-subject" style="display: none;">
    <h2>単元を選んでね</h2>
    <button onclick="showBacktoSelectGrade()">もどる</button>
    <br>

    {% for id, data in subject_map.items() %}
    {% if grade == selectedGrade %}
    <button class="subject grade{{ ( id//1000 ) }}" onclick="selectsubject({{ ( id%1000 ) }})">
        {{data.name}}
    </button>
    {% endif %}
    {% endfor %}
</div>

<div id="select-difficulty" style="display: none;">
    <h2 id="difficulty-title"></h2>
    <h4>そのままスタートするよ！</h4>

    <button onclick="showBacktoSelectSubject()">もどる</button>
    <br>

    <div id="difficulty-buttons"></div>
</div>

<script src="/static/app.js"></script>

<script>
    let selectedGrade = null;
    let selectedSubject = null;

    async function start(difficulty){

    await fetch("/api/start",{

    method: "POST",
    credentials: "include",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
    grade: selectedGrade,
    subject: selectedSubject,
    difficulty: difficulty
    }),

    });

    location.href="/problem";
    return;

    }


    function selectGrade(grade){

    selectedGrade = grade;

    document.querySelectorAll(".subject").forEach(btn=>{
    btn.style.display="none";
    });

    document.querySelectorAll(".grade"+grade).forEach(btn=>{
    btn.style.display="inline-block"
    });

    showSelectSubject();
    return;
    }

    function showSelectSubject(){
    document.getElementById("select-grade").style.display = "none";
    document.getElementById("select-subject").style.display = "block";
    document.getElementById("select-difficulty").style.display = "none";
    }

    function selectsubject(subject){
    selectedSubject = subject;
    showSelectDifficulty();
    return;
    }

    function showBacktoSelectGrade(){
    document.getElementById("select-grade").style.display = "block";
    document.getElementById("select-subject").style.display = "none";
    document.getElementById("select-difficulty").style.display = "none";
    }

    function showBacktoSelectSubject(){
    document.getElementById("select-grade").style.display = "none";
    document.getElementById("select-subject").style.display = "block";
    document.getElementById("select-difficulty").style.display = "none";
    }

    function showSelectDifficulty(){
    document.getElementById("select-grade").style.display = "none";
    document.getElementById("select-subject").style.display = "none";
    document.getElementById("select-difficulty").style.display = "block";

    const title = document.getElementById("difficulty-title");
    const container = document.getElementById("difficulty-buttons");

    container.innerHTML = ""; // 初期化

    // ① タイトル
    if (selectedGrade <= 4){
        title.innerText = "むずかしさをえらんでね";
    } else {
        title.innerText = "難易度を選んでね";
    }

    // ② 特殊条件（6年生 × 単元4）
    if (selectedGrade === 6 && selectedSubject === 4){
        container.innerHTML += `<button onclick="start(3)">ハードのみ!!</button>`;
        return;
    }

    // ③ 1〜2年
    if (selectedGrade <= 2){
        container.innerHTML += `
            <button onclick="start(1)">かんたん</button>
            <button onclick="start(2)">ふつう</button>
            <button onclick="start(3)">むずかしい</button>
        `;
        return;
    }

    // ④ それ以外
    container.innerHTML += `
        <button onclick="start(1)">イージー</button>
        <button onclick="start(2)">ノーマル</button>
        <button onclick="start(3)">ハード</button>
    `;
    }
</script>

{% endblock %}
