<!DOCTYPE html>
<html>
<head>
<title>KUKURU</title>
</head>

<body>

    <h1>KUKURU</h1>

    <button onclick="startGame()">はじめる</button>

    {% if not grade %}

    <h2>学年を選んでね</h2>

    <a href="/home?grade=1">1年生</a>
    <a href="/home?grade=2">2年生</a>
    <a href="/home?grade=3">3年生</a>
    <a href="/home?grade=4">4年生</a>
    <a href="/home?grade=5">5年生</a>
    <a href="/home?grade=6">6年生</a>

    {% endif %}

    {% if grade and not subject %}

    <h2>単元を選んでね</h2>

    {% for id, name in subject_names.items() %}

    <a href="/home?grade={{grade}}&subject={{id}}">
        {{name}}
    </a><br>

    {% endfor %}

    {% endif %}

    {% if grade and subject %}

    <h2>難易度</h2>

    <a href="/start?grade={{grade}}&subject={{subject}}&difficulty=1">
        かんたん
    </a>

    <a href="/start?grade={{grade}}&subject={{subject}}&difficulty=2">
        ふつう
    </a>

    <a href="/start?grade={{grade}}&subject={{subject}}&difficulty=3">
        むずかしい
    </a>

    {% endif %}

    <script src="/static/app.js"></script>

    <script>
        async function start(){
        await fetch("/start");
        location.href="/problem";
        }
    </script>

</body>
</html>