{% extends "base.html" %}

{% block content %}

<h1>🏆 ランキング</h1>

<button onclick="location.href='/home'">もどる</button>

<table border="1" style="margin: 20px auto;">
    <tr>
        <th>順位</th>
        <th>ニックネーム</th>
        <th>スコア</th>
        <th>科目</th>
        <th>タイム(秒)</th>
        <th>正答率(%)</th>
    </tr>

    {% for user in ranking %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.score }}</td>
        <td>{{ user.subject_name }}</td>
        <td>{{ user.time }}</td>
        <td>{{ user.rate }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}